__pycache__/
tests/otimizacoes/c_users_alex_martins_desktop_3be_alex_vscode_projets_agentbiosim_venv_scripts_python_exe_c_users_alex_martins_desktop_3be_alex_vscode_projets_agentbiosim_main_py.json
tests/otimizacoes/c_users_alex_martins_desktop_3be_alex_vscode_projets_agentbiosim_venv_scripts_python_exe_c_users_alex_martins_desktop_3be_alex_vscode_projets_agentbiosim_main_py.json
